@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@400;500;600;900&display=swap');

@keyframes blink {
  0% {
    text-shadow: 0 0 5px #fff; /* Маленьке світіння */
  }
  100% {
    text-shadow: 0 0 20px #00ec00, 0 0 30px #00ec00; /* Потужне рожеве сяйво */
  }
}

@keyframes float {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-10px); }
  100% { transform: translateY(0px); }}

.block {
    width: 30%;
    height: 90px;
    background: #bae797;
    margin-top: auto;
    border: 2px solid #a6e079;
    text-align: center;
    border-radius: 10px;
    margin: auto;
}

h1 {
    color: black;
    font-size: 30px;
    margin-bottom: 100px;
    text-align: center;
    font-weight: 600;
    text-shadow: 2px 2px #555;
    animation: blink 1.5s ease-in-out infinite alternate;
    animation: float 3s ease-in-out infinite;
}

body {
    font-family: Arial, sans-serif;
    background-color: #D2EEBD;
    margin: 0;
    padding: 20px;
    text-align: center;
    font-family: Prompt, sans-serif;
}

.bigus {
    color: #333;
    font-size: 18px;
    line-height: 1.5;
}

.aboutlink:hover {
    color: red;
    text-decoration: underline;
}

#saved_videos {
    width: 80%;           /* Ширина блока  */
    min-height: 300px;    /* Минимальная высот */
    margin: 20px auto;       /* Отступы сверху и снизу */
    border: 2px solid #555; /* Рамка  */
    background-color: #f9f9f9; /* Легкий фон */
    border-radius: 18px;   /* Закругление углов */
    padding: 10px;           /* Внутренние отступы  */
    text-align: center;          /* Выравнивание текста по центру */
    
}

button {
    padding: 10px 40px;
    margin: 5px 0;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition-duration: 0.3s;
    animation: blink 1.5s ease-in-out infinite alternate;
}

button:hover {
    background-color: #45a049;
    transform: translateY(-5px);
}

select {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 20px;
    transition-duration: 0.3s;
}

select:hover {
    background-color: #eceaea;
    transition-duration: 0.3s;
    transform: translateY(-5px)
}

input {
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 20px;
    width: 70%;;
    transition-duration: 0.3s;
    box-sizing: border-box; /* Чтобы padding не увеличивал общую ширину */
}

input:focus {
    border-color: #4CAF50; /* Цвет рамки при фокусе */
    outline: none; /* Убирать стандартное выделение */
    transition-duration: 0.3s;
}

.back2home {
    margin: 20px auto;
    width: 11.5%;
    border: 2px solid #555;
    background-color: #f3f1f1;
    border-radius: 18px;
    padding: 10px;
}
.back2home:hover {
    background-color: #e0e0e0;
}

.abtus {
    color: #333;
    font-size: 18px;
    line-height: 1.5;
    margin: 20px auto;
}

.bold_fix {
    font-weight: 600;
}

.about_text {
    color: #333;
    font-size: 18px;
    line-height: 1.5;
    margin: 20px auto;
}

.My_text {
    position: absolute;
    top: 200px;
    left: 60px;
    font-size: 60px;
    font-size: 48px;
    font-weight: bold;
    color: #333;
    text-shadow: 1px 1px 2px #ccc;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: rgb(182, 182, 93);
    animation: float 3s ease-in-out infinite;
}

.My_text1 {
    position: absolute;
    top: 275px;
    left: 60px;
    font-size: 60px;
    font-size: 48px;
    font-weight: bold;
    color: #333;
    text-shadow: 1px 1px 2px #ccc;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: rgb(199, 106, 122);
    animation: float 3s ease-in-out infinite;
}

.turnbackbeta {
    width: 125px;
    height: 30px;
    margin: auto;
    padding: 10, 1;
    border: solid;
    border-color: gray;
    border-radius: 10px;
    background-color: #ffffff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 0.3s;
}

.turnbackbeta:hover {
    background-color: rgb(228, 227, 227);
    transform: translateY(-5px);
    transition-duration: 0.3s;
}

.funtext {
    transition-duration: 0.3s;
    color: #141414dc;
    animation: ease-out;
}

.funtext:hover {
    transform:scale(30px);
    transform: translateX(200px);
    animation: ease-out;
}